<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hospitalinformationsystem.mapper.BillCategoryMapper">

  <select id="selectBillCategory" resultType="com.neuedu.hospitalinformationsystem.po.BillCategory">
    select bcId,bcName from BillCategory
    <where>
      <if test="bcId != null">
        and bcId = #{bcId}
      </if>
      <if test="bcName != null and bcname != ''">
        and bcName=#{bcName}
      </if>
    </where>

  </select>

  <insert id="insertBillCategory">
    insert into Billcategory value (#{bcId} ,#{bcName} )
  </insert>

  <delete id="deleteBillCategory">
    delete from Billcategory where bcId=#{bcId}
  </delete>
</mapper>