<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hospitalinformationsystem.mapper.DepartmentMapper">

    <select id="getDepartments" resultType="com.neuedu.hospitalinformationsystem.po.Department">
        select dId, dName, dCategory from department
        <where>
            <if test="dId != null">
                and dId = #{dId}
            </if>
            <if test="dName != null and dName !=''">
                and dName = #{dName}
            </if>
            <if test="dCategory != null and dCategory !=''">
                and dCategory = #{dCategory}
            </if>
        </where>

    </select>

    <select id="getAllDepartments" resultType="com.neuedu.hospitalinformationsystem.po.Department">
        select dId, dName, dCategory from department
    </select>


    <delete id="deleteDepartment">
        delete from department where dId = #{dId}
    </delete>

    <insert id="insertDepartment">
        insert into department values(#{dId},#{dName},#{dCategory})
    </insert>

</mapper>