<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hospitalinformationsystem.mapper.DiagnosisMapper">
  <insert id="insert" parameterType="com.neuedu.hospitalinformationsystem.po.Diagnosis">
    <!--@mbg.generated-->
    insert into diagnosis (diaId, diaTId, rId, 
      `uId`, diaName)
    values (#{diaId,jdbcType=INTEGER}, #{diaTId,jdbcType=INTEGER}, #{rId,jdbcType=INTEGER}, 
      #{uId,jdbcType=INTEGER}, #{diaName,jdbcType=VARCHAR})
  </insert>
</mapper>