<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hospitalinformationsystem.mapper.DiseaseMapper">

    <select id="getDiseaseType" resultType="String">
        select disType from disease
    </select>

    <delete id="deleteDepartment">
        delete from department where dId = #{dId}
    </delete>

    <insert id="insertDepartment">
        insert into department values(#{dId},#{dName},#{dCategory})
    </insert>

</mapper>