<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hospitalinformationsystem.mapper.DoctorMapper">

  <insert id="insert" parameterType="com.neuedu.hospitalinformationsystem.po.Doctor">
    <!--@mbg.generated-->
    insert into doctor (`uId`, dVacation, isDue
      )
    values (#{uId,jdbcType=INTEGER}, #{dVacation,jdbcType=VARCHAR}, #{isDue,jdbcType=BOOLEAN}
      )
  </insert>
</mapper>