<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hospitalinformationsystem.mapper.InvoceMapper">

  <insert id="insert" parameterType="com.neuedu.hospitalinformationsystem.po.Invoce">
    insert into invoce (iId, eIId, rId, 
      diaId, payTime, payType, 
      isEffective, paymount)
    values (#{iId,jdbcType=INTEGER}, #{eIId,jdbcType=INTEGER}, #{rId,jdbcType=INTEGER}, 
      #{diaId,jdbcType=INTEGER}, #{payTime,jdbcType=DATE}, #{payType,jdbcType=VARCHAR}, 
      #{isEffective,jdbcType=BOOLEAN}, #{paymount,jdbcType=FLOAT})
  </insert>
</mapper>