<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hospitalinformationsystem.mapper.NonmedicineMapper">

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from nonmedicine
    where nmId = #{nmid,jdbcType=INTEGER}
  </delete>

    <insert id="insert" keyColumn="nmId" keyProperty="nmid"
            parameterType="com.neuedu.hospitalinformationsystem.po.NonMedicine" useGeneratedKeys="true">
    insert into nonmedicine (nmName, nmFee, nmStandard, 
      nmFeeType, nmCode)
    values (#{nmName,jdbcType=VARCHAR}, #{nmFee,jdbcType=DOUBLE}, #{nmStandard,jdbcType=VARCHAR},
      #{nmFeeType,jdbcType=VARCHAR}, #{nmCode,jdbcType=VARCHAR})
  </insert>

    <select id="findBynmIdAndnmName" resultType="com.neuedu.hospitalinformationsystem.po.NonMedicine">
        select * from nonmedicine
        <where>
            <if test="nmId != null">
                and nmId=#{nmId}
            </if>
            <if test="nmCode != null and nmCode != ''">
                and nmCode=#{nmCode}
            </if>
            <if test="nmName != null and nmName != ''">
                and nmName=#{nmName}
            </if>
        </where>
    </select>
</mapper>