<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.hospitalinformationsystem.mapper.PatientMapper">

  <insert id="insert" parameterType="com.neuedu.hospitalinformationsystem.po.Patient">
    <!--@mbg.generated-->
    insert into patient (pId, pBirth, pAdress, 
      pSex, pName)
    values (#{pId,jdbcType=INTEGER}, #{pBirth,jdbcType=DATE}, #{pAdress,jdbcType=VARCHAR}, 
      #{pSex,jdbcType=BOOLEAN}, #{pName,jdbcType=VARCHAR})
  </insert>
</mapper>