'<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v="http://www.w3.org/1999/xhtml"
       xmlns:v-if="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../css/department.css"/>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../js/department.js"></script>

</head>
<body>
<div class="departmentManagement-container">
    <text class="departmentManagement-title">
        科室管理
    </text>
    <form class="departmentManagement-form">

        <div id="department">
            <table class="departmentManagement-table" border="0" cellspacing="0" cellpadding="0">
                <tr >
                    <td class="departmentManagement-table-no">科室编码</td>
                    <td class="departmentManagement-table-name-first">科室名称</td>
                    <td class="departmentManagement-table-category-first">科室类别</td>
                    <td class="departmentManagement-table-operation"></td>
                </tr>
                <tr v-for="(department,index) in departmentList" >
                    <td class="departmentManagement-table-no">{{department.dId}}</td>
                    <td v-if='!department.edit' class="departmentManagement-table-name"><font v-text='department.dName'></font></td>
                    <td v-if='!department.edit' class="departmentManagement-table-category"><font v-text="department.dCategory"></font>
                    </td>
                    <td v-if='!department.edit' class="departmentManagement-table-operation">
                        <a v-on:click="onTapEdit(index)">修改</a>
                        <a v-on:click="onTapDelete(index)">删除</a>
                    </td>
                    <td v-if='department.edit' class="departmentManagement-table-name"><input type="text" v-model="dName"/></td>
                    <td v-if='department.edit' class="departmentManagement-table-category"><input type="text" v-model="dCategory"/></td>
                    <td v-if='department.edit' class="departmentManagement-table-operation">
                        <input @click="onTapEditConfirm(index)" type="button" value="确认"/>
                    </td>
                </tr>
                <tr v-if="add">
                    <td class="departmentManagement-table-no">自动生成</td>
                    <td class="departmentManagement-table-name"><input type="text" v-model="dName"/></td>
                    <td class="departmentManagement-table-category"><input type="text" v-model="dCategory"/></td>
                    <td class="departmentManagement-table-operation">
                        <input @click="onTapConfirm" type="button" value="确认"/>
                    </td>
                </tr>
                <tr>
                </tr>
            </table>
            <!--            <button v-on:click="add()" class="departmentManagement-add-button">添加</button>-->
            <input @click="onTapAdd" type="button" value="添加"/>
        </div>
    </form>
</div>
<script>
    var department = new Vue({
        el: '#department',
        data: {
            dId:"",
            dName:"",
            dCategory:"",
            departmentList: [{dId: 1, dName: "妇产科", dCategory: "临床",edit:false}, {dId: 2, dName: "男科", dCategory: "临床",edit:false}],
            add: false
        },
        created: function () {
            for (var i = 0; i < this.departmentList.length; i++) {

            }
        },
        methods: {
            onTapAdd: function () {
                this.add = true
            },
            onTapConfirm: function () {
                var that = this
                var department = {
                    dId: 3,
                    dName: that.dName,
                    dCategory: that.dCategory,
                    edit:false
                }
                this.departmentList.push(department)
                this.add = false
                axios.post('/department/insertDepartment', {
                    dId: 3,
                    dName: that.dName,
                    dCategory: that.dCategory

                }).then(function (response) {
                    console.log(response.data);
                })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            onTapDelete: function (index) {
                var dId = this.departmentList[index].dId
                this.departmentList.splice(index, 1)
                axios.post('/department/deleteDepartment', dId).then(function (response) {
                    console.log(response.data);
                }).catch(function (error) {
                    console.log(error);
                });
            },
            onTapEdit: function (index) {
                this.departmentList[index].edit = true
            },
            onTapEditConfirm: function (index) {
                var that = this
                alert(that.dCategory)
                this.departmentList[index].dName = that.dName
                this.departmentList[index].dCategory = that.dCategory
                this.departmentList[index].edit = false
                axios.post('/department/updateDepartment', {
                    dId: 3,
                    dName: that.dName,
                    dCategory: that.dCategory
                }).then(function (response) {
                    console.log(response.data);
                }).catch(function (error) {
                    console.log(error);
                });
            }
        }
    })
</script>
</body>
</html>