<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-if="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../css/registration.css"/>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="../js/registrationManagement.js"></script>

</head>
<body>
<div class="registrationManagement-container">
    <text class="registrationManagement-title">
        挂号清单
    </text>
    <form class="registrationManagement-form">

        <div id="registration">
            <table class="registrationManagement-table" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="registrationManagement-table-no">号别编码</td>
                    <td class="registrationManagement-table-name-first">号别名称</td>
                    <td class="registrationManagement-table-isDefault">是否默认</td>
                    <td class="registrationManagement-table-showOrder">显示顺序号</td>
                    <td class="registrationManagement-table-fee">挂号费</td>
                    <td class="registrationManagement-table-operation">操作</td>


                </tr>

                <tr v-for="(registration,index) in registrationList">

                    <td class="registrationManagement-table-no">{{registration.rId}}</td>
                    <td v-if='!registration.edit' class="registrationManagement-table-name-first"><font v-text='registration.rName'></font></td>
                    <td v-if='!registration.edit' class="registrationManagement-table-isDefault"><font v-text="registration.isDefault"></font></td>
                    <td v-if='!registration.edit' class="registrationManagement-table-showOrder"><font v-text="registration.rOrder"></font></td>
                    <td v-if='!registration.edit' class="registrationManagement-table-Fee"><font v-text="registration.rFee"></font></td>


                    <td v-if='!registration.edit' class="registrationManagement-table-operation">
                        <a v-on:click="onTapEdit(index)" type="button" >修改</a>
                        <a v-on:click="onTapDelete(index)" type="button">删除</a>
                    </td>
                    <td v-if='registration.edit' class="registrationManagement-table-name-first"><input type="text" v-model="rName"/></td>
                    <td v-if='registration.edit' class="registrationManagement-table-isDefault"><input type="text" v-model="isDefault"/></td>
                    <td v-if='registration.edit' class="registrationManagement-table-showOrder"><input type="number" v-model="rOrder"/></td>
                    <td v-if='registration.edit' class="registrationManagement-table-Fee"><input type="number" v-model="rFee"/></td>
                    <td v-if='registration.edit' class="registrationManagement-table-operation">
                        <input @click="onTapEditConfirm(index)" type="button" value="确认"/>
                    </td>
                </tr>


                <tr v-if="add">
                    <td class="registrationManagement-table-no">自动生成</td>
                    <td class="registrationManagement-table-name-first"><input type="text" v-model="rName"/></td>
                    <td class="registrationManagement-table-isDefault"><input type="number" v-model="isDefault"/></td>
                    <td class="registrationManagement-table-showOrder"><input type="number" v-model="rOrder"/></td>
                    <td class="registrationManagement-table-Fee"><input type="number" v-model="rFee"/></td>
                    <td class="registrationManagement-table-operation">
                        <input @click="onTapConfirm" type="button" value="确认"/>
                    </td>
                </tr>





                <tr>
                </tr>
            </table>
            <!--            <button v-on:click="add()" class="registrationManagement-add-button">添加</button>-->
            <input @click="onTapAdd" type="button" value="添加"/>
        </div>

    </form>
</div>

<script>
    var registration = new Vue({
        el: '#registration',
        data: {
            rId:"",
            rName:"",
            isDefault:false,
            rOrder:0,
            rFee:0,

            registrationList: [{rId: 1, rName: "专家号", isDefault: false, rOrder:1, rFee:100,edit:false},
                {rId: 2, rName: "普通号", isDefault: true, rOrder:2, rFee:150,edit:false}],
            add: false
        },
        methods: {
            onTapAdd: function () {
                this.add = true
            },

            onTapConfirm: function () {
                var that = this
                var registration={
                    rId:this.registrationList.length+1,
                    rName:that.rName,
                    isDefault: that.isDefault,
                    rOrder:that.rOrder,
                    rFee: that.rFee,
                    edit: false
                }
                this.registrationList.push(registration)
                this.add = false



                // alert(this.$refs.inputName.value)
            },
            onTapDelete:function(index){
                alert("删除成功");
                this.registrationList.splice(index,1)

            },
            onTapEdit:function (index) {
                    this.registrationList[index].edit = true
                alert( index)


            },
            onTapEditConfirm:function (index) {
                alert( this.registrationList[index].edit)
                var that = this
                alert(this.registrationList[index].edit )
                this.registrationList[index].rName = that.rName
                this.registrationList[index].isDefault = that.isDefault
                this.registrationList[index].rOrder = that.rOrder
                this.registrationList[index].rFee = that.rFee
                this.registrationList[index].edit = false

            }
        }
    })
</script>


</body>
</html>