.registrationManagement-container{
    text-align: center;
}

.registrationManagement-title{
    font-size:50px;
}

.registrationManagement-form{
}

.table-c table{border-right:1px solid #F00;border-bottom:1px solid #F00}
.table-c table td{border-left:1px solid #F00;border-top:1px solid #F00}

.registrationManagement-table-unit{

    border: green solid 1px;
}

.registrationManagement-table{

    /*border: green solid 1px;*/
    /*border-radius: 5px;*/
    height:15px;
    margin: 0 auto;
    border-right:1px solid #F00;border-bottom:1px solid #F00
}

.registrationManagement-table td{
    border-left:1px solid #F00;border-top:1px solid #F00

}

.registrationManagement-table-no{
    width: 10%;
}

.registrationManagement-table-name{
    width: 15%;
    text-align: left;
}

.registrationManagement-table-name font{
    margin-left: 5px;
}

.registrationManagement-table-category{
    width: 15%;
    text-align: left;
}

.registrationManagement-table-category font{
    margin-left: 5px;
}

.registrationManagement-table-name-first{
    width: 15%;
}

.registrationManagement-table-isDefault{
    width: 15%;
}
.registrationManagement-table-showOrder{
    width: 15%;
}
.registrationManagement-table-Fee{
    width: 15%;
}



.registrationManagement-table-operation{
    width: 15%;
    text-align: left;
}

.registrationManagement-table-operation font{
    margin-left: 5px;
}

.registrationManagement-add-button{
    margin-top:10px;
}